.holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

svg {
    width: 60%;
    height: 60vh;
}


.holder a {
    text-decoration: none;
}

.holder a:visited {
    color: #3F51B5;
}

a {
    color: #3F51B5;
}



